# 1. ConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  name: spring-config
  namespace: devops
data:
  DATABASE_URL: "jdbc:mysql://mysql-service:3306/cafe?createDatabaseIfNotExist=true&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC"
---
# 2. Secret
apiVersion: v1
kind: Secret
metadata:
  name: spring-secret
  namespace: devops
type: Opaque
data:
  DATABASE_USERNAME: cm9vdA==  # root en base64
  DATABASE_PASSWORD: ""  # vide (pas de mot de passe)
---
# 3. Deployment Spring Boot
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-java-app
  namespace: devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-java-app
  template:
    metadata:
      labels:
        app: my-java-app
    spec:
      containers:
      - name: my-java-app
        image: bardaoui/my-java-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8088
        env:
        - name: SPRING_DATASOURCE_URL
          valueFrom:
            configMapKeyRef:
              name: spring-config
              key: DATABASE_URL
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: spring-secret
              key: DATABASE_USERNAME
        - name: SPRING_DATASOURCE_PASSWORD
          value: ""
---
# 4. Service NodePort
apiVersion: v1
kind: Service
metadata:
  name: tpcafe-service
  namespace: devops
spec:
  type: NodePort
  ports:
  - port: 8088
    targetPort: 8088
    nodePort: 30082
  selector:
    app: my-java-app
